<!doctype html>
<html>
<head>
    <title>Socket.IO chat</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
        form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
        h1{
            text-align: center;
            font-size: 25px;
        }
        #Container{
            width:80%;
            Margin-top:100px;
            margin-left: 10%;
            margin-right: 10%;
            background-color:blue;
        }
        .newsDiv{
            width: 33%;
            float:left;
            background-color:yellow;
            border:1px solid blue;
            height: 200px;
        }
        .Headline{
            font-size: 20px;
            text-align: center;
        }
        .content{
            font-size: 16px;
            text-align: left;
        }

    </style>
</head>
<body>
<h1>Smartek News</h1>
<div id="Container">

</div>
<ul id="messages"></ul>
<form action="">
    <input id="m" autocomplete="off" /><button>Send</button>
</form>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    var socket = io();
    $('form').submit(function(){
        socket.emit('chat message', $('#m').val());

        $('#m').val('');
        return false;
    });
    socket.on('chat message', function(msg){
        console.log("msg--"+JSON.stringify(msg));
        $('#Container').empty();
        for (var i in msg){
            console.log("collection--"+JSON.stringify(msg[i]));
            $('#Container').append(' <div class="newsDiv"><div class="Headline">'+msg[i].headline+'</div><div class="Content">'+msg[i].content+'</div> </div>');
        }

    });
</script>
</body>
</html>
